<div style="background-color: transparent;">
  <mat-toolbar class="main" style="background-color: transparent;">
    <mat-toolbar-row>
      <a class="button x" routerLink=" ">x</a>
    </mat-toolbar-row>

    <mat-toolbar-row class="mat-toolbar-rowy">
      <a class="button" routerLink="/home">Home</a>
      <a class="button" routerLink="/app-massage-therapy">Massage Therapy</a>
      <a class="button" routerLink="/app-foot-reflexology">Foot Reflexology</a>
      <a class="button" routerLink="/app-facial">Facials</a>
      <a class="button" routerLink="/app-specialty-treatments">Specialty Treatments</a>
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
    </mat-toolbar-row>

    <mat-toolbar-row class="mat-toolbar-rowy">
      <a class="button" routerLink="/app-espape-packages">EScape Packages</a>
      <a class="button" routerLink="/app-specials-giftcards">Specials & GIftcards</a>
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    </mat-toolbar-row>
  </mat-toolbar>
</div>